html, body {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: rgb(190, 190, 190);
    border-radius: 0.5rem;
    width: 500px;
    height: 700px;
    padding: 1rem;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: aquamarine;
    height: 100px;
    padding: 1rem;
    border-radius: 1rem;
}

.function-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.numpad-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.numpad-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    margin-top: 1rem;
    border-radius: 1rem;
}

.grow {
    flex: 2;
}